.function {
  -webkit-touch-callout: none; /* 禁止长按呼出菜单 */
  -webkit-user-select: none; /* 禁止长按选择文字 */
  -webkit-touch-callout: none; /* 禁止长按图片保存 */
  pointer-events: none; /* 事件穿透 */
  /* 浏览器滑动不流畅 */
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
}

/* 实现1物理像素的下边框线 */
.one_px {
  position: relative;
}
.one_px::after {
  content: "";
  position: absolute;
  z-index: 1;
  pointer-events: none;
  background-color: #ddd;
  height: 1px;
  left: 0;
  right: 0;
  top: 0;
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    -webkit-transform: scaleY(0.5);
    -webkit-transform-origin: 50% 0%;
  }
}

/* 3D父元素
/* 属性定义 3D 元素距视图的距离，以像素计 */
.three_parent {
  -webkit-perspective: 800;
  transform-style: preserve-3d;
  -webkit-perspective-origin: 50% 50%;
  -webkit-transform-style: -webkit-preserve-3d;
  -webkit-transform-style: preserve-3d;
}
/* 子元素 */
.three_child {
  backface-visibility: hidden;
  transform: rotateY(180deg); /* 正数，顺时针。负数，逆时针 */
  -webkit-transform: rotateX(45deg); /* 绕x轴旋转 */
  -webkit-transform-origin: bottom;
  -webkit-transition: -webkit-transform 1s linear;
}
.three_child .clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* 文字描边 */
.text_strike {
  text-shadow: 0 0 0.2em #f686d8, 0 0 0.2em #f686d8, 0 0 0.2em #f686d8;
  text-shadow: 0 1px #f686d8, 1px 0 #f686d8, -1px 0 #f686d8, 0 -1px #f686d8;
}

/* animation
1. animation-name ：动画名
2. animation-duration：时间
3. animation-delay：延时
4. animation-iteration-count：次数 infinite
5. animation-direction：方向。normal|alternate;
6. animation-play-state：控制
7. animation-fill-mode：状态， none | forwards | backwards | both;
在 animation-delay 所指定的一段时间内，在动画显示之前，应用开始属性值（在第一个关键帧中定义）
8. animation-timing-function：关键帧变化
linear：动画从头到尾的速度是相同的。
ease：默认。动画以低速开始，然后加快，在结束前变慢。
ease-in：动画以低速开始。
ease-out：动画以低速结束。
ease-in-out：动画以低速开始和结束。
cubic-bezier(n,n,n,n)：在 cubic-bezier 函数中自己的值。可能的值是从 0 到 1 的数值。
steps(5，start/end)，5每两个关键帧之间，而不是整个动画， start跳过0%，end跳过100%
@-webkit-keyframes circle {
        0% {background-position-x: 0;}
        25% {background-position-x: -100px;}
        50% {background-position-x:-200px;}
        75%{background-position-x: -300px;}
        100%{background-position-x: -400px;}
}
换句话说也是 0-25 之间变化5次，  25-50之间 变化5次 ，50-75 之间变化5次，以此类推 */
.animation {
  animation: light 0.6s infinite alternate;
  transform-origin: right bottom;
  @keyframes light {
    0% {
      opacity: 0;
      transform: rotate(0deg);
    }
    100% {
      opacity: 1;
      transform: rotate(40deg);
    }
  }
}
/* 三角形 */
.angle {
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 30px 30px 30px 0;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
}

.two_ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 32px;
  color: #000;
}

/* 伪类
写样式必须加上content: ""
:focus
:hover
:not
:first-child
:last-child
:first-of-type
:last-of-type
:nth-of-type
:nth-last-of-type()
:nth-child(2n+1)
:nth-last-child()
伪元素
:after
:before
::first-letter
::first-line
 */
figure > img:not(:first-of-type) {
  color: #000;
}
body > div:nth-of-type(4) {
  transform: rotateX(70deg) rotateY(60deg);
}
body > div:first-of-type::after {
  color: #000;
}

/* 隐藏滚动条 */
body::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

/* 文字旋转 */
.text_rotate {
  writing-mode: vertical-rl;
}

/* 模糊 */
.blur {
  filter: blur(10px);
}

.background {
  background-size: cover; /*  宽度占满屏幕，高度等比例。 */
  background-size: contain; /* 高度占满屏幕，宽度等比例。 */
  background-position: 50% 50%; /* 图片可视区域居中显示。 */
}
